<% content_for(:title, @obj.title) %>

<div>
	<h1><%= icon_tag(:lightbulb) %> 
	<%= link_to @obj.title, @obj, class: "fn" %> <small><%= icon_tag(:user) %> <span class="vcard fn"><%= @obj.user.name %></span> </small></h1>

  <% if current_user %>
	<p id="context_links"><%= link_to icon_tag("thumbs-up"), vote_idea_path(@obj, kind: :like), class: "vote-link up", method: :post, remote: true %> <%= link_to icon_tag("thumbs-down"), vote_idea_path(@obj, kind: :dislike), class: "vote-link down", method: :post, remote: true %>  &nbsp;
	<% if @obj.user == current_user %>
	<%= link_to icon_tag(:pencil) + "Edit", edit_idea_path(@obj) %>
	<% end %>
	</p>
  <% end %>

	<section>
		<p><%= link_to @obj.link, @obj.link, target: "_blank" %></p>
	<div class="well summary print-links">
		<%= @obj.rendered_description.html_safe %>
	</div>
	</section>

	<section class="meta">
		<p><strong>Tags:</strong> 
		<%= @obj.tag_list.map do |tag|
			link_to tag, tag_ideas_path(tag: tag), class: "tag badge"
		end.join(" ").html_safe %>
		</p>
		<p>This idea was submitted in <%= l @obj.created_at, format: "%B %Y" %>
		</p>
		<p>
			<%= tweet_this(@obj) %>
		</p>
	</section>
</div>
	<hr noshade="noshade">
	<section>
		<div>
			<%= form_tag comment_idea_path(@obj), method: :post, remote: true %>
				<%= text_area_tag "comment[comment]", "", rows: 2, style: "width:80%; margin-right: 20px;", placeholder: t(".write_a_comment", default: "Write a comment (you can use Emojis)"), required: "required" %>
			<%= submit_tag "Post", class: "btn" %>
			</form>
			<% unless current_user %>
				<p><small>You are not logged in. Please <%= link_to "log in", new_user_session_path %>, or if you don't have an account, sign the comment with your name and any necessary contact info.</small></p>
			<% end %>
		</div>
		<div id="comments">
			<%= render @obj.comments.order("created_at desc"), partial: "comments/comment" %>
		</div>
	</section>

<% if current_user %>
  <script>
	$(document).ready(function(){
		window.Provo.Ideas.refreshVote("<%= idea_url(@obj) %>");
		$(".vote-link").bind("ajax:success", function(){
			window.Provo.Ideas.refreshVote("<%= idea_url(@obj) %>");
		});
		$("#comment_comment").elastic();
	});
  </script>
<% end %>