<h1>Projects</h1>
<%= render "popular_tags" %>
<small>
  <% if params[:action] == "my" %>
	(showing your projects | <%= link_to "click here show all", projects_path %>)
  <% elsif current_user %> 
	(<%= link_to "click here to show your projects", my_projects_path %>)</small>
  <% end %> 
<section>
<ul>
	<%= render @projects %>
</ul>
</section>
<% if current_user %>
	<%= link_to icon_tag(:plus)+t(".create_new"), new_project_path, class: "btn" %>
<% end %>
<br><br>
<% if params[:action] == "my" %>
	<%= render "embed_script" %>
<% end %>