<nav>
  <ul>
    <li> <%= link_to icon_tag(:reorder), projects_path %></li>
    <li><%= link_to icon_tag(:lightbulb), ideas_path %></li>
    <li><%= link_to icon_tag(:cloud), offered_services_path %></li>
    <% if current_user %>
    <li><%= link_to icon_tag(:star), starred_projects_path %></li>
    <li><%= link_to icon_tag(:off), user_session_path, method: :delete %></li>
    <% else %>
    <li><%= link_to icon_tag(:user) + "Login", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>